/.idea
/.vscode
/.vs
/Binaries
/Content/AnimStarterPack
/Content/Collections
/Content/Developers
/Content/StarterContent
/Content/Assets
/Content/__ExternalActors__
/Content/__ExternalObjects__
/Content/LevelPrototyping
/DerivedDataCache
/Intermediate
/Build
/Plugins
/Saved
/Script
